$eatQuadrant: #8B5155;
$playQuadrant: #A39E64;
$fightQuadrant: #C4A973;
$sleepQuadrant: #BCCBAD;

$eatQuadrantButton: darken($eatQuadrant, 10%);
$playQuadrantButton: darken($playQuadrant, 10%);
$fightQuadrantButton: darken($fightQuadrant, 10%);
$sleepQuadrantButton: darken($sleepQuadrant, 10%);